.rda
.RData
.Rhistory
*.Rproj
*.Rapp.history
.Rproj.user/
.Rproj.user
*.pdf
*.png
*.html
*.js
*.rdb
*cache/*
*.md
rao_workingdata/*
rao_originaldata/*
RAOPresentation/*
RAOPresentation_wip/*
RAOPresentation_Research_Seminar/*
exports/*
data/patient/*
